<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smn.deviceapps">

    <uses-permission android:name="ndroid.permission.QUERY_ALL_PACKAGES"/>

    <queries>
        <package android:name="com.app.manager" />
    </queries>

</manifest>